<div class="container">
  <div
    *ngIf="alert"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success!</strong> Your data is successfully submitted.
    <pre>{{ allData | json }}</pre>
    <button
      (click)="closeAlert()"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form
    [formGroup]="Certificate"
    (ngSubmit)="onClick(Certificate.value, Certificate.valid)"
    novalidate
  >
    <div class="row">
      <div class="col">
        <label>Certification Name</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          formControlName="CertificationName"
        />
        <div
          class="text-danger"
          *ngIf="
            getControl.CertificationName.touched &&
            getControl.CertificationName.invalid
          "
        >
          <div *ngIf="getControl.CertificationName.errors">
            This is required
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="">Year of achivement</label>
        <div class="form-group row">
          <div class="col">
            <select
              class="form-select"
              class="form-control"
              formControlName="certifiedMonth"
              required
            >
              <option selected disabled value="">Month</option>
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
            <div class="invalid-feedback">Please select a valid Title.</div>
            <div
              class="text-danger"
              *ngIf="
                getControl.certifiedMonth.touched &&
                getControl.certifiedMonth.invalid
              "
            >
              <div *ngIf="getControl.certifiedMonth.errors">
                This is required
              </div>
            </div>
          </div>

          <div class="col">
            <select
              class="form-select"
              class="form-control"
              formControlName="certifiedYear"
              required
            >
              <option selected disabled value="">Year</option>
              <option>2001</option>
              <option>2002</option>
              <option>2003</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
            </select>
            <div class="invalid-feedback">Please select a valid Title.</div>
            <div
              class="text-danger"
              *ngIf="
                getControl.certifiedYear.touched &&
                getControl.certifiedYear.invalid
              "
            >
              <div *ngIf="getControl.certifiedYear.errors">
                This is required
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a routerLink="/education-details"><button type="" class="btn btn-outline-primary mb-3">Previous</button></a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success mb-3">Submit</button>
      </div>
    </div>
  </form>
</div>
