<div class="list">
    <ul class="list-group">
        <a routerLink="/about-you" >
        <li class="list-group-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
            <div class="title">About you  </div>
            <div class="description">Tell us more about you</div>
        </li>
    </a>

        <a routerLink="/experience" >
            <li class="list-group-item" routerLinkActive="active">
                <div class="title">Your experience </div>
                <div class="description">What's your experience so far?</div>
            </li>
        </a>

        <a routerLink="/role-profile" >
            <li class="list-group-item" routerLinkActive="active">
                <div class="title">Your role profile</div>
                <div class="description">What role you had done?</div>
            </li>
        </a>

    <a routerLink="/skills">
        <li class="list-group-item"  routerLinkActive="active"> 
            <div class="title">Your skill </div>
            <div class="description">What are you good at?</div>
        </li>
    </a>
    
    <a routerLink="/work-experience" >
        <li class="list-group-item" routerLinkActive="active">
            <div class="title">Your work experience </div>
            <div class="description">What are you looking for?</div>
        </li>
    </a>

    <a routerLink="/education-details" >
        <li class="list-group-item" routerLinkActive="active">
            <div class="title">Your education </div>
            <div class="description">What education you had done?</div>
        </li>
    </a>
    
    <a routerLink="/certificate" >
        <li class="list-group-item" routerLinkActive="active">
            <div class="title">Your certification</div>
            <div class="description">Which certification you had done?</div>
        </li>
    </a>
    </ul>
</div>