<div class="container">
  
 <div *ngIf="alert"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your data is successfully submitted. <pre>{{allData | json}}</pre>
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <form [formGroup]="userForm" (ngSubmit)="onClick(userForm.value)" novalidate>
        <div class="row g-3 row-margin-05">
            <div class="col-6">
                <label>Company Name</label><span class="text-danger">*</span>
                <input type="text" class="form-control" placeholder="" formControlName="companyName">
                <div class="text-danger" *ngIf="getControl.companyName.touched && getControl.companyName.invalid">
                    <div *ngIf="getControl.companyName.errors">This is required.</div>
                </div>
            </div>
            <div class="col-6">
                <label>Company Introduction</label><span class="text-danger">*</span>
                <input type="text" class="form-control" placeholder="" formControlName="companyIntro">
                <div class="text-danger" *ngIf="getControl.companyIntro.touched && getControl.companyIntro.invalid">
                    <div *ngIf="getControl.companyIntro.errors">This is required.</div>
                </div>
            </div>
        </div>
        <div class="row g-3 row-margin-05">
            <div class="col-6"> 
            <label for="job type">Job type</label><span class="text-danger">*</span>
            <div class="row-6">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-primary active" >
                  <input type="radio" name="contract" id="option1" autocomplete="off"  formControlName="contract"  checked>Contract
                </label>
                <label class="btn btn-outline-primary">
                  <input type="radio" name="options" id="option2" autocomplete="off">Permanant
                </label>
                <label class="btn btn-outline-primary">
                  <input type="radio" name="options" id="option3" autocomplete="off">Both
                </label>
              </div>
            </div>
        </div>
                  <div class="col-6">  
                  <label for="job type">Role</label><span class="text-danger">*</span>
                  <div class="row-6">                  
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Consultant
                      </label>
                      <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off">Lead
                      </label>
                      <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off">Architect
                      </label>
                    </div>
                  </div>
                

                  </div>
       
    </div>
    <div class="mb-3">
        <p>Which field would you like to choose..?</p>
      </div>
      <div class="row">
          <div class="col-4">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Managements
        </label>
        <select class="form-select" class="form-control" required formControlName="managment">
          <option selected disabled value="">-select-</option>
          <option>10%</option>
          <option>20%</option>
          <option>30%</option>
          <option>40%</option>
          <option>50%</option>
          <option>60%</option>
          <option>70%</option>
          <option>80%</option>
          <option>90%</option>
          <option>100%</option>
        </select>
    </div>
</div>  
<div class="col-4">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Technical
    </label>
    <select class="form-select" class="form-control" required formControlName="technical">
      <option selected disabled value="">-select-</option>
      <option>10%</option>
      <option>20%</option>
      <option>30%</option>
      <option>40%</option>
      <option>50%</option>
      <option>60%</option>
      <option>70%</option>
      <option>80%</option>
      <option>90%</option>
      <option>100%</option>
    </select>
    </div>
    </div>
    <div class="col-4">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Functional
        </label>
        <select class="form-select" class="form-control" required formControlName="functional">
          <option selected disabled value="">-select-</option>
          <option>10%</option>
          <option>20%</option>
          <option>30%</option>
          <option>40%</option>
          <option>50%</option>
          <option>60%</option>
          <option>70%</option>
          <option>80%</option>
          <option>90%</option>
          <option>100%</option>
        </select>
        </div>
    </div>

</div>
<div class="mb-3">
    <p>Skills</p>
  </div>
  <div class="row">
    
        <div class="col-6">       
             <label class="form-check-label" for="flexCheckDefault">Primary</label>
            
             <select class="form-select" class="form-control" required formControlName="primary">
        <option selected disabled value="">-select-</option>
        <option>C++</option>
        <option>Java</option>
        <option>Angular</option>
        <option>React</option>
        <option>MySql</option>
        
      </select>
        </div>


<div class="col-6">       
    <label class="form-check-label" for="flexCheckDefault">Secondary</label>
 
<select class="form-select" class="form-control" required formControlName="secondary">
        <option selected disabled value="">-select-</option>
        <option>C++</option>
        <option>Java</option>
        <option>Angular</option>
        <option>React</option>
        <option>MySql</option>
       
</select>
</div>


</div>
<div class="mb-3">
    <label for="jobs">Looking for jobs in</label><span class="text-danger">*</span>
    </div>
    <div class="row">
    <div class="col-6">   
        <label for="country">Country</label><span class="text-danger">*</span>
         <select class="form-select" class="form-control" required formControlName="country">
        <option selected disabled value="">-select-</option>
        <option>Icelad</option>
        <option>Hong Kong</option>
        <option>Dubai</option>
        <option>America</option>
        <option>Iceland</option>
      
      </select>
  </div>
  
  <div class="col-6">   
    <label for="city">City</label><span class="text-danger">*</span>
    <select class="form-select" class="form-control" required formControlName="city">
   <option selected disabled value="">-select-</option>
   <option>Pune</option>
   <option>Mumbai</option>
   <option>Jalgaon</option>
   <option>Nagpur</option>
   <option>Kolhapur</option>
 
 </select>
</div>
</div>
<div class="row">
  <div class="col-md-2">
    <button class="btn btn-outline-primary form-control  btn-block">Cancel</button></div>
  <div class="col">
    <button id="btnSubmit" class="btn btn-success form-control   btn-block"
    type="submit">Submit</button></div>
</div>



    </form>
</div>