<div class="container">
  <div *ngIf="alert"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your data is successfully submitted. <pre>{{allData | json}}</pre>
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <form [formGroup]="userForm"  novalidate (ngSubmit)="onClick(userForm.value)"> 
    
        <div class="row g-3 row-margin-05" > 

             <div class="col-4"> 
               <label>Degree</label>
               <input type="text" class="form-control" placeholder="" formControlName="degree"> 
               <div class="text-danger" *ngIf="getControl.degree.touched && getControl.degree.invalid">
                      <div *ngIf="getControl.degree.errors">Enter valid data.</div>
               </div>
             </div> 
             <div class="col-4"> 
                <label>Institution name</label>
                <input type="text" class="form-control" placeholder="" formControlName="institute"> 
                <div class="text-danger" *ngIf="getControl.institute.touched && getControl.institute.invalid">
                       <div *ngIf="getControl.institute.errors">Enter valid data.</div>
                </div>
              </div> 
              <div class="col-4"> 
                <label>Grade/Percentage</label>
                <input type="text" class="form-control" placeholder="" formControlName="grade"> 
                <div class="text-danger" *ngIf="getControl.grade.touched && getControl.grade.invalid">
                       <div *ngIf="getControl.grade.errors">Enter valid data.</div>
                </div>
              </div> 
       
       
             
            
            </div> 
    
            <div class="row g-3">
                <div class="col-6">
                <label>Country</label>
                <select class="form-control" placeholder="" formControlName="Country">
                  <option selected disabled value="">-select-</option>
                  <option>-select-</option>
                  <option>Dubai</option>
                  <option>France</option>
                   <option>Germany</option>
                  <option>India</option>
                  <option>Thailand</option>
                  <option>USA</option>
                  <option>Soudi Arabia</option>
                </select>
                <div class="text-danger" *ngIf="getControl.Country.touched && getControl.Country.invalid">
                    <div *ngIf="getControl.Country.errors">Enter valid data.</div>
                  </div>
              </div>
    
              <div class="col-6">
                <label for="">Year of passing</label>
                <div class="form-group row">
                  <div class="col-6">
                  <select class="form-select" class="form-control" formControlName="month" required>
                    <option selected disabled value="">MM</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option> 
                    <option>April </option>
                    <option>May </option>
                    <option>June</option>
                    <option> July</option>
                    <option> August</option>
                    <option>September </option>
                    <option>October</option>
                    <option>November </option>
                    <option>December</option>
                  </select>
                  <div class="invalid-feedback">
                    Please Enter valid data.
                  </div>
                  <div class="text-danger" *ngIf="getControl.month.touched && getControl.month.invalid">
                    <div *ngIf="getControl.month.errors">Enter valid data.</div>
                  </div>
                </div>
  
                    <div class="col-6">
                  <select class="form-select" class="form-control" formControlName="year" required>
                    <option selected disabled value="">YYYY</option>
                              <option>2001</option>
                              <option>2002</option>
                               <option>2003</option>
                               <option>2004</option>
                               <option>2005</option>
                               <option>2006</option>
                               <option>2007</option>
                               <option>2009</option>
                               <option>2010</option>
                               <option>2011</option>
                               <option>2012</option>
                               <option>2013</option>
                               <option>2014</option>
                               <option>2015</option>
                               <option>2016</option>
                               <option>2017</option>
                               <option>2018</option>
                               <option>2019</option>
                               <option>2020</option>
                               <option>2021</option>
                  </select>
                  <div class="invalid-feedback">
                    Please Enter valid data.                

                     </div>
                  <div class="valid-feedback">
                     Looks good!
                     </div>
                     <div class="text-danger" *ngIf="getControl.year.touched && getControl.year.invalid">
                      <div *ngIf="getControl.year.errors">Enter valid data.</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      <div class="row">
              <div class="col-md-2">
                <button class="btn btn-outline-primary form-control  btn-block">Cancel</button></div>
              <div class="col">
                <button id="btnSubmit" class="btn btn-success form-control   btn-block" type="submit">Submit</button></div>
            </div>
           
    </form>
    </div>

  
