<div class="container">

    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your data is successfully submitted.
        <pre>{{allData | json}}</pre>
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onClick(userForm.value)" novalidate>

        <div class="row g-3 row-margin-05">
            <div class="col-6">
                <label for="job type">Job type</label><span class="text-danger">*</span>
                <div class="row-6">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary active">
                            <input type="radio" name="contract" id="option1" autocomplete="off"
                                formControlName="contract" checked>Contract
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"  formControlName="permanant" >Permanant
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="options" id="option3" autocomplete="off"  formControlName="both" >Both
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="job type">Role</label><span class="text-danger">*</span>
                <div class="row-6">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked>Consultant
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off">Lead
                        </label>
                        <label class="btn btn-outline-primary">
                            <input type="radio" name="options" id="option3" autocomplete="off">Architect
                        </label>
                    </div>
                </div>


            </div>

        </div>
        <div class="mb-3">
            <p>Which field would you like to choose..?</p>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <label class="form-check-label" for="flexCheckDefault">
                        Managements:
                    </label>
                    <select class="form-select" class="form-control" required formControlName="managment">
                        <option selected disabled value="">-select-</option>
                        <option>10%</option>
                        <option>20%</option>
                        <option>30%</option>
                        <option>40%</option>
                        <option>50%</option>
                        <option>60%</option>
                        <option>70%</option>
                        <option>80%</option>
                        <option>90%</option>
                        <option>100%</option>
                    </select>
                    <div class="text-danger" *ngIf="getControl.managment.touched && getControl.managment.invalid">
                        <div *ngIf="getControl.managment.errors">This is required.</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <label class="form-check-label" for="flexCheckDefault">
                        Technical:
                    </label>
                    <select class="form-select" class="form-control" required formControlName="technical">
                        <option selected disabled value="">-select-</option>
                        <option>10%</option>
                        <option>20%</option>
                        <option>30%</option>
                        <option>40%</option>
                        <option>50%</option>
                        <option>60%</option>
                        <option>70%</option>
                        <option>80%</option>
                        <option>90%</option>
                        <option>100%</option>
                    </select>
                    <div class="text-danger" *ngIf="getControl.technical.touched && getControl.technical.invalid">
                        <div *ngIf="getControl.technical.errors">This is required.</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                    <label class="form-check-label" for="flexCheckDefault">
                        Functional:
                    </label>
                    <select class="form-select" class="form-control" required formControlName="functional">
                        <option selected disabled value="">-select-</option>
                        <option>10%</option>
                        <option>20%</option>
                        <option>30%</option>
                        <option>40%</option>
                        <option>50%</option>
                        <option>60%</option>
                        <option>70%</option>
                        <option>80%</option>
                        <option>90%</option>
                        <option>100%</option>
                    </select>
                    <div class="text-danger" *ngIf="getControl.functional.touched && getControl.functional.invalid">
                        <div *ngIf="getControl.functional.errors">This is required.</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="mb-3">
            <p>Skills</p>
        </div>
        <div class="row">

            <div class="col-6">
                <label class="form-check-label" for="flexCheckDefault">Primary:</label>

                <select class="form-select" class="form-control" required formControlName="primary">
                    <option selected disabled value="">-select-</option>
                    <option>C++</option>
                    <option>Java</option>
                    <option>Angular</option>
                    <option>React</option>
                    <option>MySql</option>
                </select>
                <div class="text-danger" *ngIf="getControl.primary.touched && getControl.primary.invalid">
                    <div *ngIf="getControl.primary.errors">This is required.</div>
                </div>
            </div>


            <div class="col-6">
                <label class="form-check-label" for="flexCheckDefault">Secondary:</label>

                <select class="form-select" class="form-control" required formControlName="secondary">
                    <option selected disabled value="">-select-</option>
                    <option>C++</option>
                    <option>Java</option>
                    <option>Angular</option>
                    <option>React</option>
                    <option>MySql</option>
                </select>
                <div class="text-danger" *ngIf="getControl.secondary.touched && getControl.secondary.invalid">
                    <div *ngIf="getControl.secondary.errors">This is required.</div>
                </div>
            </div>


        </div>
        <div class="mb-3">
            <label for="jobs">Looking for jobs in</label><span class="text-danger">*</span>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="country">Country</label><span class="text-danger">*</span>
                <select class="form-select" class="form-control" required formControlName="country">
                    <option selected disabled value="">-select-</option>
                    <option>Icelad</option>
                    <option>Hong Kong</option>
                    <option>Dubai</option>
                    <option>America</option>
                    <option>Iceland</option>
                </select>
                <div class="text-danger" *ngIf="getControl.country.touched && getControl.country.invalid">
                    <div *ngIf="getControl.country.errors">This is required.</div>
                </div>
            </div>

            <div class="col-6">
                <label for="city">City</label><span class="text-danger">*</span>
                <select class="form-select" class="form-control" required formControlName="city">
                    <option selected disabled value="">-select-</option>
                    <option>Pune</option>
                    <option>Mumbai</option>
                    <option>Jalgaon</option>
                    <option>Nagpur</option>
                    <option>Kolhapur</option>
                </select>
                <div class="text-danger" *ngIf="getControl.city.touched && getControl.city.invalid">
                    <div *ngIf="getControl.city.errors">This is required.</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <p>Your Salary</p>
        </div>
        <div class="row">

            <div class="col-3">
                <select class="form-select" class="form-control" required formControlName="salary">

                    <option selected disabled value="">-select-</option>
                    <option>Base Salary</option>
                    <option>Variable salary</option>
                </select>
                <div class="text-danger" *ngIf="getControl.salary.touched && getControl.salary.invalid">
                    <div *ngIf="getControl.salary.errors">This is required.</div>
                </div>
            </div>
            <div class="col-3">


                <select class="form-select" class="form-control" placeholder="INR" required formControlName="inr">
                    <div class="text-danger" *ngIf="getControl.inr.touched && getControl.inr.invalid">
                        <div *ngIf="getControl.inr.errors">This is required.</div>
                    </div>
                    <option selected disabled value="">INR</option>
                    <option><i class="flag flag-us"></i>US</option>
                    <option class="ae flag">IND</option>
                    <option class="ae flag">AF</option>
                    <div role="option" aria-checked="false" aria-selected="false" class="item"
                        style="pointer-events: all;"><i class="is flag"></i><span class="text">Iceland</span></div>


                </select>
            </div>


            <div class="col-3">

                <input type="text" class="form-control" placeholder="Fixed Salary" formControlName="fixedsalary">
                <div class="text-danger" *ngIf="getControl.fixedsalary.touched && getControl.fixedsalary.invalid">
                    <div *ngIf="getControl.fixedsalary.errors">This is required.</div>
                </div>
            </div>
            <div class="col-3">
                <select class="form-select" class="form-control" required formControlName="amount">
                    <div class="text-danger" *ngIf="getControl.amount.touched && getControl.amount.invalid">
                        <div *ngIf="getControl.amount.errors">This is required.</div>
                    </div>
                    <option selected disabled value="">-select-</option>
                    <option>Per Month</option>
                    <option>Per annum</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="">Notice period</label><span class="text-danger">*</span>
                <select class="form-select" class="form-control" required formControlName="noticeperiod">
                    <div class="text-danger" *ngIf="getControl.noticeperiod.touched && getControl.noticeperiod.invalid">
                        <div *ngIf="getControl.noticeperiod.errors">This is required.</div>
                    </div>
                    <option selected disabled value="">-select-</option>
                    <option>Specific Date</option>
                    <option>Immidiately available</option>
                    <option>1 Month</option>
                    <option>2 Month</option>
                    <option>3 Month</option>
                </select>
            </div>
            <div class="col-6">
                <label for="">Other Components</label><span class="text-danger">*</span>
                <input type="text" class="form-control" placeholder="" formControlName="othercomp">
                <!-- <div class="text-danger" *ngIf="getControl.othercomp.touched && getControl.othercomp.invalid">
                    <div *ngIf="getControl.othercomp.errors">This is required.</div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-outline-primary form-control  btn-block">Cancel</button>
            </div>
            <div class="col">
                <button id="btnSubmit" class="btn btn-success form-control   btn-block" type="submit">Submit</button>
            </div>
        </div>




    </form>
</div>